@media (min-width:786px) {
  .navbar-default {
    min-height: 30px;
  }
}

/* Modal */ 
/*
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
@media only screen and (max-width 700px) {
  .modal-content {
    width: 100%;
  }
}
*/

html,
body {
  height: 100%;
  background-color: #333;
}

/* TEXT: Body/Headings */
body {
  color: #FFF;
  text-align: center;
  font-family: "Palatino", "Garamond", "Helvetica"; 
}

div > h1 {
  font-size: 42px;
}
div > h2 {
  font-size: 36px;
}

.center {
  text-align: center;
}

/* TEXT: Hyperlinks */
a,
a:hover {
  color: #CCC;
}

/* BUTTONS: Bootstrap */
.btn-default,
.btn-default:hover {
  color: #CCC;
  background-color: #FFF;
  border: 1px solid #FFF;
}

/* HEADER */
.navbar {
  display: inline-block;
  vertical-align: middle;
}

#brand-map-marker {
  transform: translateX(-20px) translateY(15px) scale(.65);
}

#navbarBrand {
  float: left;
  font-size: 38px;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
}
#navbarMenu {
  float: right;
  padding: 20px;
}


/* BODY */
.main {
  background: #FFF;
  padding: 15%; /*80px*/
}

/* BODY: index.html */
.cover-inner {
  padding: 25%;
}
.topoMap {
  background: url("/assets/kcTopo.png") no-repeat fixed center;
  background-size: cover;
  height: 100%;
}

/* BODY: portfolio.html */

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #F7F7F7;
}

.card-text {
  font-size: 24pt;
  font-family: cursive;
}

#previewImage:hover,
#previewImage2:hover,
#previewImage3:hover {
  cursor: pointer;
  opacity: 0.6;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content, 
#modalCaption,
#modalCaption2,
#modalCaption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  /*
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  */
}
#modalCaption
#modalCaption2,
#modalCaption3 {
  text-align: center;
  color: #CCC;
  padding: 10px 0;
  height: 150px;
}
.close {
  color: #FFF !important;
  position: absolute;
  top: 15px;
  right: 35px;
}
.close:hover {
  color: #BBB;
  cursor: pointer;
}


/* BODY: experience.html */
.univLogo {
  opacity: 1;
  transition: .5s ease;
}
.textOverlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.univLogo:hover {
  cursor: pointer;
  opacity: 0.5;
}
.univLogo:hover .textOverlay {
  opacity: 1;
}
.degreeText {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.modal-body {
  text-align: left;
}


/* BODY: contact.html */
.socialmedia .img-logo {
  display: inline;
} 
.socialmedia .img-profile {
  display: none;
}

.socialmedia:hover .img-profile {
  display: inline;
} 
.socialmedia:hover .img-logo {
  display: none;
}


/* FOOTER */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}